{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Contact</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href='{% static "css/font-awesome.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
    <script src='{% static "js/modernizr.js" %}'></script>
   </head>
   <body>
      <!-- header section start -->
      {% comment %} <div class="header_section">
         <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="logo"><a href="index.html"><img src='{% static "images/logo.png" %}'></a></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                     <a class="nav-link" href="{% url 'index' %}">Home</a>
                  </li>
                  <li class="nav-item active">
                     <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                  </li>
                  <li class="nav-item active">
                     <a class="nav-link" href="{% url 'about' %}">About</a>
                  </li>
                 
                  <li class="nav-item active">
                     <a class="nav-link" href="{% url 'register' %}">Login</a>
                  </li>
                  <li class="nav-item dropdown active">
                     <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       For You
                     </a>
                     <ul class="dropdown-menu">
                       <li><a class="dropdown-item" href="{% url 'doctor' %}">DOCTOR</a></li>
                       <li><a class="dropdown-item" href="{% url 'patient' %}">PATIENT</a></li>
                       <li><a class="dropdown-item" href="{% url 'emergency' %}">Emergency</a></li>
                     </ul>
                     </li>
                 
               </ul>
            </div>
         </nav>
      </div> {% endcomment %}
      <!-- header section end -->
      <header class="top-header">
         <div class="container-fluid">
             <div class="row">
                 <div class="col-xs-5 header-logo">
                     <br>
                     <a href="index.html"><img src='{% static "img/logo.png" %}' alt="" class="img-responsive logo"></a>
                 </div>
 
                 <div class="col-md-7">
                     <nav class="navbar navbar navbar-expand-lg navbar-default">
                       <div class="container-fluid nav-bar">
                         <!-- Brand and toggle get grouped for better mobile display -->
                         <div class="navbar-header">
                           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                             <span class="sr-only">Toggle navigation</span>
                             <span class="icon-bar"></span>
                             <span class="icon-bar"></span>
                             <span class="icon-bar"></span>
                           </button>
                         </div>
 
                         <!-- Collect the nav links, forms, and other content for toggling -->
                         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                           
                           <ul class="nav navbar-nav navbar-right">
                             <li><a class="menu active" href="#home" >Home</a></li>
                             <li><a class="menu" href="#about">about us</a></li>
                             <li><a class="menu" href="#service">our services </a></li>
                             <li><a class="menu" href="#team">our team</a></li>
                             <li><a class="menu" href="#contact"> contact us</a></li>
                             <li><a class="menu" href="{% url 'register' %}"> Login</a></li>
                             <li class="nav-item dropdown active">
                                 <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                   For You
                                 </a>
                                 <ul class="dropdown-menu">
                                   <li><a class="dropdown-item" href="{% url 'doctor' %}">DOCTOR</a></li>
                                   <li><a class="dropdown-item" href="{% url 'patient' %}">PATIENT</a></li>
                                   <li><a class="dropdown-item" href="{% url 'emergency' %}">Emergency</a></li>
                                 </ul>
                                 </li>
                           </ul>
                         </div><!-- /navbar-collapse -->
                       </div><!-- / .container-fluid -->
                     </nav>
                 </div>
             </div>
         </div>
     </header> <!-- end of header area -->


     <br>
     <br>
     <br>
     <br>
     <br>

      <section class="about text-center" id="about">
		<div class="container">
			<div class="row">
				<h2>OUR SPECIALIAST</h2>
				<h4>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</h4>
				<div class="col-md-4 col-sm-6">
					<div class="single-about-detail clearfix">
						<div class="about-img">
							<img class="img-responsive" src='{% static "img/item1.jpg" %}' alt="">
						</div>
						<div class="about-details">
							<div class="pentagon-text">
								<h1>Dr. M. Weiner, M.D</h1>
							</div>
							<h3>Children’s specialist</h3>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="single-about-detail">
						<div class="about-img">
							<img class="img-responsive" src='{% static "img/item2.jpg" %}' alt="">
						</div>
						<div class="about-details">
							<div class="pentagon-text">
								<h1>Dr. Danielle, M.D</h1>
							</div>

							<h3>Women’s specialist</h3>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="single-about-detail">
						<div class="about-img">
							<img class="img-responsive" src='{% static "img/item3.jpg" %}' alt="">
						</div>
						<div class="about-details">
							<div class="pentagon-text">
								<h1>Dr. Michael, M.D.</h1>
							</div>
							<h3>Men’s specialist</h3>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
      
    
   <div class="api-map" id="contact">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12 map" id="map"></div>
          </div>
      </div>
  </div><!-- end of map section -->

  <!-- contact section starts here -->
  <section class="contact">
      <div class="container">
          <div class="row">
              <div class="contact-caption clearfix">
                  <div class="contact-heading text-center">
                      <h2>contact us</h2>
                  </div>
                  <div class="col-md-5 contact-info text-left">
                      <h3>contact information</h3>
                      <div class="info-detail">
                          <ul><li><i class="fa fa-calendar"></i><span>Monday - Friday:</span> 9:30 AM to 6:30 PM</li></ul>
                          <ul><li><i class="fa fa-map-marker"></i><span>Address:</span> 123 Some Street , London, UK, CP 123</li></ul>
                          <ul><li><i class="fa fa-phone"></i><span>Phone:</span> (032) 987-1235</li></ul>
                          <ul><li><i class="fa fa-fax"></i><span>Fax:</span> (123) 984-1234</li></ul>
                          <ul><li><i class="fa fa-envelope"></i><span>Email:</span> info@doctor.com</li></ul>
                      </div>
                  </div>
                  <div class="col-md-6 col-md-offset-1 contact-form">
                      <h3>TO BE ADMITED</h3>

                      <form class="form" action="{% url 'patient' %}" method="POST">
                        {% csrf_token %}
                          <input class="first_name" type="text" name="fname" placeholder="first_name">
                          <input class="last_name" type="text" name="lname"  placeholder="last_name">
                          <input class="email" type="email" name="pat_email"  placeholder="Email">
                          <textarea class="massage" type="massage" name="mass"  cols="30" rows="10" placeholder="Message"></textarea>
                          <input class="submit-btn" type="submit" value="SEND">
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </section><!-- end of contact section -->

      <!-- copyright section start -->
      
      <div class="copyright_section">
         <div class="container">
            <p class="copyright_text"> <a href="https://html.design">Free html  Templates</a></p>
         </div>
      </div>
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src='{% static "js/jquery-2.1.1.js" %}'></script>
      <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
      <script src='{% static "js/gmaps.js" %}'></script>
      <script src='{% static "js/smoothscroll.js" %}'></script>
      <script src='{% static "js/bootstrap.min.js" %}'></script>
      <script src='{% static "js/custom.js" %}'></script>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
   </body>
</html>